In [1]:
#Maria Fernanda Castañeda Gonzalez
import sqlite3

In [2]:
#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect("practica.db")
cursor = conexion.cursor()

#creamos una tabla llamada estudiantes
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

In [3]:
#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect("practica.db")

#Creamos el cursor
cursor = conexion.cursor()

conexion.close()

In [4]:
#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect("practica.db")
cursor = conexion.cursor()

#Insertamos un registro
cursor.execute("INSERT INTO estudiantes VALUES ('marifer_cast17@gmail.com', 'Artes', 'Sharon', 27)")

#Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

In [6]:
#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect("practica.db")
cursor = conexion.cursor()

#Seleccionamos todos los registros en la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

('marifer_cast17@gmail.com', 'Artes', 'Sharon', 27)

In [7]:
#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect("practica.db")
cursor = conexion.cursor()

#Maria Fernanda Castañeda Gonzalez
usuarios = [
    ('parrillaexquisita@vip.com','Arquitectura','Giulia', 26),
    ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60),
    ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30),
    ('carlitos@googlemail.com', 'Computacion', 'Carlos', 60),
    ('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21)
]

#Maria Fernanda Castañeda Gonzalez
cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)

#Maria Fernanda Castañeda Gonzalez
conexion.commit()

#Maria Fernanda Castañeda Gonzalez
conexion.close()

In [9]:
#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect('practica.db')
cursor = conexion.cursor()

#Recuperamos registros de la tabla
cursor.execute("SELECT * FROM estudiantes")
#Maria Fernanda Castañeda Gonzalez
usuarios = cursor.fetchall()

#Print(usuarios)
#Maria Fernanda Castañeda Gonzalez
for u in usuarios:
    print (u)
    
conexion.close()

('marifer_cast17@gmail.com', 'Artes', 'Sharon', 27)
('parrillaexquisita@vip.com', 'Arquitectura', 'Giulia', 26)
('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60)
('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30)
('carlitos@googlemail.com', 'Computacion', 'Carlos', 60)
('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21)

In [11]:
#Maria Fernanda Castañeda Gonzalez
import sqlite3
import csv

#Maria Fernanda Castañeda Gonzalez
conexion = sqlite3.connect(r"C:\Users\marif\Sistemas Basados en el conocimiento\Base de Datos\practica.db")
cursor = conexion.cursor()
#Maria Fernanda Castañeda Gonzalez
archivo = open(r"C:\Users\marif\Sistemas Basados en el conocimiento\datos_db.txt")
#Maria Fernanda Castañeda Gonzalez
filas = csv.reader(archivo)
#Maria Fernanda Castañeda Gonzalez
cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", filas)
#Maria Fernanda Castañeda Gonzalez
cursor.execute("SELECT * FROM estudiantes")
#Maria Fernanda Castañeda Gonzalez
print(cursor.fetchall())
#Maria Fernanda Castañeda Gonzalez
conexion.commit()
conexion.close()

[('marifer_cast17@gmail.com', 'Artes', 'Sharon', 27), ('parrillaexquisita@vip.com', 'Arquitectura', 'Giulia', 26), ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60), ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30), ('carlitos@googlemail.com', 'Computacion', 'Carlos', 60), ('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21), ('marifer_cast17@gmail.com', 'Artes', 'Sharon', 27), ('parrillaexquisita@vip.com', 'Arquitectura', 'Giulia', 26), ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60), ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30), ('carlitos@googlemail.com', 'Computacion', 'Carlos', 60), ('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21), ('paella@vip.com', 'Medicina', 'Giuliana', 27), ('crimewave@vip.com', 'Derecho', 'Alicia', 20), ('prince@orange.com', 'Ingenieria', 'William', 24), ('elrisortdewelini@vip.com', 'Nutrición', 'Chefsito', 25), ('planb@vip.com', 'Artes', 'Chencho', 30), ('channel@boyz.com', 'Letras', 'Frank', 32), ('vinos@aouju.com', 'Nutrición', 'Eugenia', 23)]